.signIn {
  //   display: flex;
  //   flex-direction: column;
  display: grid;
  // grid-template-rows: min-content min-content 1fr;

  grid-template-rows: repeat(3, min-content);
  align-content: start;

  grid-row-gap: 2rem;

  &__title {
    font-weight: 300;
    font-size: 3rem;
    line-height: 2.5rem;
  }

  &__sub {
    font-size: 2rem;
    line-height: 2rem;
  }

  &__form {
    display: grid;
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;

    grid-template-columns: repeat(2, 1fr);

    margin-top: 3rem;
  }

  // &__email {
  //   &--label {
  //   }
  // }

  // &__password {
  //   &--label {
  //   }
  // }
  /*
  &__submit {
    color: var(--white);
    background-color: var(--black);
    border: 0.1rem var(--black) solid;

    &:hover {
      color: var(--black);
      background-color: var(--white);
      border: 0.1rem var(--black) solid;
    }
  }

  &__button {
    color: var(--white);
    background-color: var(--cl-blue);
    border: 0.1rem var(--cl-blue) solid;

    &:hover {
      color: var(--cl-blue);
      background-color: var(--white);
      border: 0.1rem var(--cl-blue) solid;
    }
  }
  */
}
