.cartDropdown {
  position: absolute;
  top: 5rem;
  right: 2rem;
  border: 0.1rem solid #000;
  width: 30%;
  height: 40rem;
  background-color: #fff;

  z-index: 10;

  display: grid;
  grid-template-rows: 1fr min-content;
  //   justify-items: center;

  @media only screen and (max-width: 842px) {
    width: 24.8rem;
  }

  &__items {
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;

    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-row-gap: 1rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
      background-color: #2834930c;
      // border-radius: 5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(
        to bottom,
        #434444,
        #626767
      );
      border-radius: 5rem;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #0000004d;
      box-shadow: inset 0 0 6px #0000004d;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    // grid-template-rows: min-content;
    grid-column-gap: 2rem;

    // height: 10rem;

    &--imgWrapper {
      width: 7rem;
      height: 7rem;
    }
    &--img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--textWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--title {
      margin-bottom: 1rem;
    }
    &--price {
    }
  }

  &__btnWrapper {
    padding: 1rem;
    display: grid;
  }

  &__button {
    padding: 1rem;

    color: var(--white);
    background-color: var(--black);
    border: 0.1rem var(--black) solid;

    &:hover {
      color: var(--black);
      background-color: var(--white);
      border: 0.1rem var(--black) solid;
    }
  }
}
