.checkoutItem {
  font-size: 2rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr) minmax(
      min-content,
      5rem
    );
  grid-column-gap: 1rem;
  align-items: center;
  justify-items: start;

  &__imageWrapper {
    width: 10rem;
    height: 12rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  //   &__description {
  //   }
  &__quanity {
    display: flex;
    align-items: center;
    &--number {
      margin-right: 0.2rem;
    }
  }
  //   &__price {
  //   }
  &__chevron {
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: bold;
    transition: color 0.3s;

    &:hover {
      color: #b4b4b4;
    }

    &:not(:last-child) {
      margin-right: 0.2rem;
    }
  }
  &__remove {
    cursor: pointer;
    transition: color 0.3s;
    justify-self: center;

    &:hover {
      color: #b4b4b4;
    }
  }
}
