.collection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content max-content;
  grid-row-gap: 2rem;

  &__title {
    font-size: 2.8rem;
    font-weight: 300;
  }

  &__preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

/*

// double check
// repeat span property

@media only screen and (max-width: 1036px) {
  .collectionItem-4,
  .collectionItem-13,
  .collectionItem-21,
  .collectionItem-26,
  .collectionItem-33 {
    grid-column: 1 / span 3;
  }
}

@media only screen and (max-width: 769px) {
  .collectionItem-4,
  .collectionItem-13,
  .collectionItem-21,
  .collectionItem-26,
  .collectionItem-33 {
    grid-column: span 1 / span 1;
  }
}
// 4 13 21 26 33

*/
