.custom-button {
  cursor: pointer;
  font-family: var(--font-reg);
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.4rem;
  // border: none;
  white-space: nowrap;
  transition: color 0.3s, background-color 0.3s;

  &:focus {
    outline: none;
  }
}
